html {
    background-image: "360_F_233142339_2XkJuFHLndXZoohWWkNzA9wYSIiGstJk.jpg";
    background-color: black;
    font-family: 'Trebuchet MS';
    color:white;
}
#title1 {
    color:gold;
}

#title2 {
    color:azure;
}